.main_container{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
}
.big_container{
  width: 55%;
}
.smalls_container{
  width: 43%;
  display: flex;
  justify-content: space-between;
}
.big_image{
  width: 100%;
  height: 100%;
}
.small_1{
  width: 48%;
  height: 70%;
}
.small_2{
  width: 48%;
  height: 70%;
}